<div class="container-fluid">

    <div class="shades" style="background-image: url('assets/images/selected/shades/general.jpg')">

    </div>

    <div class="container">

        <div class="text-center title">

            <h2>SHADES</h2>

            <p>
                Shades in the site are small rooms meant for small number of people, a number that's
                6 tops. We have around 5 of this widely spread in the lower part of the sanctuary. The photos below
                shows their design a bit of it's environ. Connecting them are routes visible on the pictures.
                Otside the routes are not allowed to be stepped on.
            </p>
            <p>
                Once a shade is occupied, no other person access the shade for the occupants to have ample time
                unless occupantsrequest.
            </p>

        </div>

        <div class="images">

            <h2 class="text-success">Images from the Shades</h2>

            <div class="row">

                <div class="col-md-6">
                    <img src="assets/images/selected/shades/shade 1.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="assets/images/selected/shades/shade 3.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="assets/images/selected/shades/shade 4.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="assets/images/selected/shades/shade 5.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="assets/images/selected/shades/shade 2.jpg" alt="shade pic">
                </div>
            </div>

        </div>

        <!-- Go back button -->
        <button class="btn btn-outline-secondary my-3 m-2" type="button" (click)="goBack()">Go Back</button>

    </div>

</div>