<div class="container-fluid" [ngStyle]="{'background-image': 'url(assets/images/about/about.jpg)'}">

    <div class="container ">

        <div class="row">

            <div class="col-md-12 mx-auto my-5 mb-5 content">

                <div class="headings text-center">
                    <h2>ABOUT US</h2>
                </div>

                <p>
                    If you ask directions from someone coming from our vicinity, you will hear just "Sanctuary".
                    We accept this short and precise name but it also good to know our full name. Our official
                    name are <strong><span class="name">Kipsigis Oasis Sanctuary and Culture.</span></strong> From this
                    name, a lot about
                    us becomes self-explanatory.
                </p>
                <p>
                    Kipsigis Oasis Sanctuary and Culture is a private entity or rather a private conservational
                    project. We are also legally registered under Bomet County Government. We have a lot going on
                    in the site but we major in some specific areas.
                </p>

                <div class="majors mb-3">

                    <h4 class="my-1"><strong>Areas of major;</strong></h4>
                    <!-- <hr> -->
                    <ul>
                        <li>Wildlife Conservation</li>
                        <li>Culture Conservation</li>
                        <li>Conferencing and Accomondations</li>
                    </ul>
                    <p>... these are just a few of our goals and services we offer.</p>

                </div>

                <p>
                    From the list list above, <br>
                    We are a private Wildlife and Culture conservational sanctuary. Wildlife cutting across from wild
                    animals and
                    natural environment/species.
                </p>
                <p>
                    In terms of Culture conservation, it's a special department that I will refer you to it's own page
                    on <a href="structures/culture-center">culture</a>.
                    Take a look at structures we have in there and also visit our <a href="gallery">gallery</a> to see
                    photos of our clients.
                </p>
                <p>
                    As mentioned on our major list above, <br>
                    Conferencing and Accomondations are service we offer alongside our conservational activities.
                    Basically we accepts bookings for functions/events and booking for clients who wish to spend a
                    night/nights in
                    our site.
                </p>

            </div>

        </div>

    </div>

</div>