/* About us section styles */
.container-fluid {
    background: fixed 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

h2 {
    color: green;
    text-decoration: underline green 2px;
    font-weight: 600;
}

.content {
    background-color: rgb(245, 242, 238);
    opacity: 0.9;
    padding: 3%;
    border-radius: 20px;
}

.name {
    color: green;
}

.majors {
    padding-left: 10%;
}