<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto my-4">

            <div class="heading text-center">
                <h1>CONTACT US</h1>
                <hr>
            </div>

            <div class="context text-center">
                <p>
                    This page will be very helpful at this stage of the website. At this stage in the sense that,
                    a lot of information are still not available. Information like pricing, other services you may have
                    heard.
                    This information will be available sooner or later when the management comes up
                    with a final rates. At the moment this price flacuates depending on seasons and time of the year.
                </p>
                <p>
                    At the moment, we prefer that our clients contacts us through the contacts details below.
                    These are our social media pages , that's also another you can reach out to us.
                </p>
            </div>

        </div>
    </div>


    <div class="row">

        <div class="col-md-6 left">
            <p><strong>Email : </strong> <a
                    href="kipsigisoasisisanctuary@gmail.com">kipsigisoasisisanctuary@gmail.com</a></p>
            <p><strong>Phone: </strong> 0714856555 | 0794427829 | 0706205337 | 0714219537</p>
        </div>

        <div class="col-md-6 icons">

            <div id="icons">
                <a href="https://twitter.com/Kipsigis_Oasis">
                    <img src="/assets/images/twitter.png" width="10%" alt="">
                </a>
                <a href="https://web.facebook.com/profile.php?id=100070095730687">
                    <img src="/assets/images/facebook.png" width="9%" alt="">
                </a>
                <a href="https://www.youtube.com/@kipsigisoasissanctuaryandc4477">
                    <img src="/assets/images/youtube.png" width="10%" alt="">
                </a>
            </div>

        </div>

    </div>

</div>