<div class="container-fluid">
    <div class="container">

        <div class="top">

            <h2 class="text-center">STRUCTURES</h2>

            <p>
                You want a grand E-tour? This is the page that will literally give you a grand tour of every bit of
                Kipsigis
                Sanctuary. How so? it covers everything on our structures and by the end of it, you will have answers
                for
                questions like,
            </p>

            <div class="questions">
                <ul>
                    <li>Can someone spend a night?</li>
                    <li>Can they accomondate 50+ people?</li>
                    <li>Do they have space for 10+ different groups?</li>
                </ul>

            </div>

            <p>
                Sit back and scroll,
                <br>
                To see more on a structure , press see more button below each structure.
            </p>

        </div>

        <div class="structures">

            <!-- Shade structure code  -->

            <div class="row">

                <h3 class="leftH4">Shades</h3>

                <div class="col-md-6">

                    <img src="assets/images/structures/Shade.jpg" alt="Shade image">

                </div>

                <div class="col-md-6">

                    <p>
                        These are small rooms built to accomondate a number of persons under 5. They meant to provide
                        ample
                        space for different groups on clients.
                    </p>
                    <p>
                        We have a good number of them that even in peak season, they are never all occupied at the same
                        time.
                    </p>

                    <button class="btn btn-success" (click)="goShades()">See More</button>

                </div>

            </div>

            <!-- Conference hall code  -->
            <div class="row right">

                <div class="rightHeadings">

                    <h3 class="rightH4">Conference Hall/Room</h3>

                </div>

                <div class="col-md-6">

                    <p>
                        We also provide conferencing, or to be more flexible, we have this hall to accomondate large
                        number
                        of
                        clients.
                    </p>
                    <p>
                        This is where you can host your party, staff meetings or whatever function you have in mind that
                        needs space.
                        The conference hall can accomondate up to 60 people at the same time.
                    </p>

                    <button class="btn btn-success" (click)="goHall()">See More</button>

                </div>

                <div class="col-md-6">

                    <img src="assets/images/structures/Conference hall.jpg" alt="Conference room image">

                </div>

            </div>

            <!-- Culture Centre code  -->

            <div class="row">

                <h3 class="leftH4">Culture Center</h3>

                <div class="col-md-6">

                    <img src="assets/images/structures/Culture center.jpg" alt="Culture center image">

                </div>

                <div class="col-md-6">

                    <p>
                        One of our attention picking spot in the site. It's definitely one of our unique feature.
                    </p>
                    <p>
                        This is where we have concentrated culture conservation and anything related to cultural
                        conservation.
                        You will also be previlleged to wear different types of cultural attires we have.
                    </p>

                    <button class="btn btn-success" (click)="goCulture()">See More</button>

                </div>

            </div>

            <!-- Main Gate centre code -->

            <div class="row right">

                <div class="rightHeadings">

                    <h3 class="leftH4">Accomondations</h3>

                </div>

                <div class="col-md-6">

                    <p>
                        <em><strong>Can someone spend a night?</strong></em>
                    </p>
                    <p>
                        The answer is <strong class="text-success">Yes you can</strong>. We have 3 accomondations rooms,
                        fully furnished. So yes, one can spend a night/nights in sanctuary which is a lifetime
                        experience
                        given the environment.
                    </p>
                    <button class="btn btn-success" (click)="goAccommondations()">See More</button>

                </div>

                <div class="col-md-6">

                    <img src="assets/images/structures/Accommondations.jpg" alt="Accomondations image">

                </div>

            </div>

            <!-- Accomondations code  -->

            <div class="row">
                <h3 class="rightH4">Main Gate</h3>

                <div class="col-md-6">

                    <img src="assets/images/structures/Main Gate.jpg" alt="Main Gate image">

                </div>

                <div class="col-md-6">

                    <p>
                        As mentioned above, the page gives you a full E-tour, our main gate is worth noting.
                        It is a well designed gate, grass touched house like.
                    </p>
                    <p>
                        Here you will also get informational writtings on quotes and pricing.
                    </p>

                    <button class="btn btn-success" (click)="goGate()">See More</button>

                </div>

            </div>

            <!-- Writtings code -->

            <div class="row right">

                <div class="rightHeadings">

                    <h3 class="rightH4">Special Features</h3>

                </div>

                <div class="col-md-6">

                    <p>
                        These are small features that are worth noting. Their pictures will tell more but mentioning
                        some
                        are;
                    </p>
                    <div class="questions">
                        <ul>
                            <li>Bees</li>
                            <li>Tortoise</li>
                            <li>Directional/Qoutes writtings</li>
                        </ul>
                    </div>

                    <button class="btn btn-success" (click)="goWrittings()">See More</button>

                </div>

                <div class="col-md-6">

                    <img src="assets/images/structures/Writtings.jpg" alt="Writtings image">

                </div>

            </div>

        </div>

    </div>
</div>