.navbar {
    background-color: rgb(225, 239, 251) !important;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

.container-fluid {
    width: 75% !important;
}

a {
    color: green;
}