<div class="container">

    <div class="topPage text-center">

        <h2>GALLERY</h2>

        <p>
            Gallery is less fun with a lot of text, it's more fun when photos speak
            for themselves. I must mention though, these are clients photos taken during their visit
            to the site. Most of them are taken from culture center when they are on cultural attires.
        </p>
        <p>
            We are just sharing a few here but to the bottom of the photos is a link to
            our cloud store where we store all the photos we have taken. If you feel
            like you want more, you are welcome to our cloud database.
        </p>
        <p>
            We are not including photos of our structure here becuase we have dedicated pages
            for each and everyone of them. To access them, visit our structure page and press see more
            button on each one to expand them, there you will find photos of our physical structures and more.
        </p>

    </div>

    <!-- Pics section -->
    <div class="pics">

        <div class="row">

            <div class="col-md-8 mx-auto">
                <img src="assets/images/gallery/Gallery 29.jpg" alt="top pic frame">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/12.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/11.jpg" alt="column two pic">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/14.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/18.jpg" alt="column two pic">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/8.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/17.jpg" alt="column two pic">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 23.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 34.jpg" alt="column two pic">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 9.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 21.jpg" alt="column two pic">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 18.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/9.jpg" alt="column two pic">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 25.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 32.jpg" alt="column two pic">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 27.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/19.jpg" alt="column two pic">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 22.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 20.jpg" alt="column two pic">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 28.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 8.jpg" alt="column two pic">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 24.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/21.jpg" alt="column two pic">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 19.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 6.jpg" alt="column two pic">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 17.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 14.jpg" alt="column two pic">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/1.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 33.jpg" alt="column two pic">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 5.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 2.jpg" alt="column two pic">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 7.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 4.jpg" alt="column two pic">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 13.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 3.jpg" alt="column two pic">
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 1.jpg" alt="column one pic">
            </div>

            <div class="col-md-6">
                <img src="assets/images/gallery/Gallery 16.jpg" alt="column two pic">
            </div>

        </div>

        <!-- External buttons section -->

        <div class="row text-center buttons">
            <div class="col-md-6 mx-auto">

                <h3 class="text-success"><strong>See photos of our Structures</strong></h3>
                <hr>

                <a href="structures/culture-center"><button class="btn btn-outline-success">Culture Center</button></a>
                <a href="structures/accommondations"><button class="btn btn-outline-success">Accomondations</button></a>
                <a href="" class="btn btn-outline-primary m-2">See More On Google Drive</a>
                <a href="structures/shades"><button class="btn btn-outline-success">Shades</button></a>
            </div>
        </div>

    </div>

</div>