<div class="container-fluid">

    <div class="shades" style="background-image: url('assets/images/selected/shades/general.jpg')">

    </div>

    <div class="container">

        <div class="text-center title">

            <h2>MAIN GATE</h2>
            <p>
                Our current main gate opens to Narok county. This is so because sanctuary is right
                in the border of Narok-Bomet county. We are sharing this because of it's design. We believe to be a
                feature
                of it own.
            </p>
            <p>
                Next to it are some written designed stone for conservational quotes and to the left
                of it are charges the sanctuary are currently charging.
            </p>

        </div>

        <div class="images">

            <h2 class="text-success">Images from the Main Gate</h2>

            <div class="row my-3">

                <div class="col-md-6">
                    <img src="assets/images/selected/gate/gate 1.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="assets/images/selected/gate/gate 2.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="assets/images/selected/gate/gate 3.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="assets/images/selected/gate/gate 4.jpg" alt="shade pic">
                </div>

            </div>

            <!-- Go back button -->
            <button class="btn btn-outline-secondary my-3 m-2" type="button" (click)="goBack()">Go Back</button>


        </div>

    </div>

</div>