<div class="container-fluid">

    <div class="shades">

    </div>

    <div class="container">

        <div class="text-center title">

            <h2>CULTURE CENTRE</h2>
            <p>
                Culture Center is a <em>department</em> in our sanctaury. Basically it's a specialized department
                for cultural conservation, cultural activities and anything about culture that we currently offer.
            </p>
            <p>
                It's one of the hotspot place inside our sanctuary, It has attracted a lot of attention across the
                country.
                If you haven't visited us, you may have seen videos, photos from this very place. A lot of videos from
                a number of singers have filmed many of their songs here.
            </p>
            <p>
                This is where clients get a chance to dress in different cultural attires at small fee, which will
                definitely
                be worth it if you ask me. It's an experience like no other. You will see more of this site
                when you visit our gallery as most of the pics are from this area.
            </p>

        </div>

        <div class="images">

            <h2 class="text-success">Images from the Culture Center</h2>

            <div class="row my-3">

                <div class="col-md-6">
                    <img src="/assets/images/selected/culture/culture 1.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="/assets/images/selected/culture/culture 2.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="/assets/images/selected/culture/culture 3.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="/assets/images/selected/culture/culture 4.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="/assets/images/selected/culture/culture 5.jpg" alt="shade pic">
                </div>

            </div>

            <!-- Go back function -->
            <button class="m-2 my-3 btn btn-outline-secondary" type="button" (click)="goBack()">Go Back</button>

        </div>

    </div>

</div>