<!-- Name with the background image section -->
<div class="row introRow" style="background-image: url('assets/images/home/Gate-bg.jpg')">

    <div class="col-md-5 introduction">

        <h1 class="text-center">Kipsigis Oasis Sanctuary and Culture</h1>
        <hr class="mainHr">
        <p>Wildlife and Culture conservation site.</p>

    </div>

</div>

<div class="container">

    <!-- About KOS Section -->

    <div class="aboutKOS ">

        <h1 class="text-center text-success">About Kipsigis Sanctuary</h1>

        <div class="row aboutKOSflex">

            <div class="wordings">
                <p>
                    <span class="text-success"><strong>Kipsigis Oasis Sanctuary and Culture </strong></span>is our
                    official and registered name.
                    We are a private wildlife and cultural conservation entity located in Bomet county, Chebunyo ward.
                </p>

                <h5 class="text-success">Wildlife</h5>
                <p>
                    From our name, we basically conserve wildlife
                    and culture, Wildlife in the sense that, we conserve wild animals and natural environment/natural
                    species.
                    As it stands, we barely have any wild animals in there but it's an achievable dream within our reach
                    in the near future,
                    we have taken major steps to realize this dream.
                    So far our efforts have earned us a <span class="text-success"><strong>Zebra</strong></span> which
                    we are forever grateful to
                    Kenya Wildlife Service for making this happen.
                </p>

                <h5 class="text-success">Culture</h5>
                <p>
                    Culture is another important component in our site and that takes a lot of weight when it comes to
                    our primary goals and targets.
                    We have majored in this as well and used a significant amount of our resources to realize
                    this.Inside the site, we have a separate
                    part of us that majors in culture conservation. We try to accomondate all the cultures as much as
                    possible.
                </p>

                <!-- See more buttons -->
                <a routerLink="about-us" class="btn btn-success">See More</a>

            </div>

        </div>

    </div>

    <!-- Structure summary function -->

    <div class=" text-center structures my-4">

        <h2>STRUCTURES</h2>
        <p>
            Trying to explain about the structures we have won't be the best idea to have you picture them,
            so instead, we have a page for dedicated to structures. In that page, we have categorized
            them to around five categories. Each category have a button which when you click, it will lead you into a
            full page of the
            structure.
        </p>
        <p>
            With this, you will have a full explanation of the structure and pictures of them same. The button below
            takes you to structures
            page.
        </p>

        <button class="m-2 my-1mb-5 btn btn-success" routerLink="structures"> Structures</button>
        <!-- <hr> -->

        <div id="carouselExampleCrossfade" class="carousel slide carousel-fade" data-mdb-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-mdb-target="#carouselExampleCrossfade" data-mdb-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-mdb-target="#carouselExampleCrossfade" data-mdb-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-mdb-target="#carouselExampleCrossfade" data-mdb-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/images/home/hall.jpg" width="75%" height="auto" alt="Conference room image">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/home/shade 2.jpg" width="75%" height="auto" alt="Shades image">
                </div>
                <div class="carousel-item">
                    <img src="assets/images/home/Culture-center.jpg" width="75%" height="auto"
                        alt="Image from culture centre">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCrossfade"
                data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCrossfade"
                data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>

    <!-- Gallery section -->

    <div class="gallery text-center">

        <h2>GALLERY</h2>
        <p>
            Welcome to world of memories! This being a home page, everything is introduction part of it. Same as
            structures, we
            also have a page dedicated to gallery.
        </p>
        <p>
            Each time we have a client(s), they are taken through a basic tour guiding across
            all the hotspots in the site. After that, one is free to venture for themselves.
            Along this tours, we take photos as much as possible and with their permission, we keep them.
            <br>
            Button below will lead you to it.
        </p>

        <a routerLink="gallery" class="btn btn-success">Gallery</a>


        <!-- Images and their description section -->
        <div class="withImages">
            <div class="row top">

                <div class="col-md-6">

                    <img src="/assets/images/home/structure 1.jpg" class="structures-images"
                        alt="Highschool students pic">

                </div>

                <div class="col description">

                    <p>
                        These were students from Chepostuyet Highschool guided by one of our staff.
                    </p>

                    <p>
                        For the case of students/pupils, we try have them learn as much as possible. Our guides are
                        graduates in fields relevant to tourism and conservation. Through them, students are able to
                        learn
                        and enjoy the serene environment at the same time.
                    </p>

                </div>

                <hr>

            </div>

            <div class="row mid">

                <div class="col-md-6 description">

                    <p>
                        This is photo from our clients. For those who have had a chance to visit, they will tell you
                        this is among the best part of Kipsigis Oasis Sanctuary. The photo was taken in
                        <span class="text-success"><strong>Culture Center</strong></span>.
                    </p>

                    <p>
                        This will definitely be among the best part of Kipsigis Oasis. You get to change to this
                        cultural attire,
                        and on the process use other cultural tools to go back in time and have this one of a kind
                        experience.
                    </p>

                </div>

                <div class="col-md-6">

                    <img src="/assets/images/home/structure 2.jpg" class="structures-images"
                        alt="4 on masai attire pic">

                </div>

                <hr>

            </div>

            <div class="row last">

                <div class="col-md-6">

                    <img src="/assets/images/home/structure 3.jpg" class="structures-images"
                        alt="Kipsigis sanctuary writting pic">

                </div>

                <div class="col description">

                    <p>
                        We have taken significant strides on hospitality and making your visit memorable as much as
                        possible.
                        Along your tour, you will see this kind of "features" and more, aim at giving directions and
                        having you
                        learn one or two things .
                    </p>

                    <p>
                        Some are conservational quotes, some give directions and more
                    </p>

                </div>

            </div>
        </div>

    </div>

</div>