<div class="container-fluid">

    <div class="shades" style="background-image: url('assets/images/selected/shades/general.jpg')">

    </div>

    <div class="container">

        <div class="text-center title">

            <h2>CONFERENCE ROOM</h2>
            <p>
                From the name, this is a conference room or hall if you can call it.
            </p>
            <p>
                This is the room where most of our clients in big numbers spend their time. Clients with
                functions also make use of this room. Basically,
                it's the biggest room in the sanctuary. If you can think of any event you might want to have it
                in the wild, consider us for we have got you covered.
            </p>

        </div>

        <div class="images">

            <h2 class="text-success">Images from the Conference Room</h2>

            <div class="row">

                <div class="col-md-6">
                    <img src="assets/images/selected/hall/hall 1.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="assets/images/selected/hall/hall 2.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="assets/images/selected/hall/hall 3.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="assets/images/selected/hall/hall 4.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="assets/images/selected/hall/hall 5.jpg" alt="shade pic">
                </div>

                <!-- <div class="col-md-6">
                    <img src="/assets/images/selected/shades/shade 1.jpg" alt="shade pic">
                </div>
             -->
            </div>

            <!-- Go back function -->
            <button class="btn btn-outline-secondary my-3 m-2" type="button" (click)="goBack()">Go Back</button>

        </div>

    </div>

</div>