<div class="container-fluid">

    <div class="shades" style="background-image: url('assets/images/selected/shades/general.jpg')">

    </div>

    <div class="container">

        <div class="text-center title">

            <h2>WRITTINGS</h2>
            <p>
                This page we will accomondate some feature that are not pig enough to have
                their own pages but we believe we shouldn't leave them without a mention.
            </p>
            <p>
                This will major on special designs, writings on curved stone and event conservation quotes. They
                definitely worth
                take a peek and a pic when you come across them.
            </p>

        </div>

        <div class="images">

            <h2 class="text-success">Images from the Writtings</h2>

            <div class="row my-3">

                <div class="col-md-6">
                    <img src="assets/images/selected/writtings/writing 1.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="assets/images/selected/writtings/writing 2.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="assets/images/selected/writtings/writing 3.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="assets/images/selected/writtings/writing 4.jpg" alt="shade pic">
                </div>

                <div class="col-md-6">
                    <img src="assets/images/selected/writtings/writing 5.jpg" alt="shade pic">
                </div>

                <!-- <div class="col">
                    <img src="/assets/images/selected/shades/shade 1.jpg" alt="shade pic">
                </div>
             -->
            </div>

            <!--Go back button  -->
            <button class="btn btn-outline-secondary my-3 m-2" type="button" (click)="goBack()">Go Back</button>

        </div>

    </div>

</div>